*{
  padding: 0;
  color: aqua;
}

body{
  
  display: grid;
  place-content: center;
  place-items: center;
  overflow: hidden;
  background: #282c34;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.main {
  text-align: center;
  display: grid;
  place-content: center;
  place-items: center;
}


.hand__button{

  position: relative;
  display: grid;
  place-content: center;
  place-items: center;
  width: 20rem;
}

.main .main__hand{

  display: block;
  margin: 0 auto;
  position: absolute;
  top: -60px;
  left: 0;
  height: 25rem;
  cursor: pointer;
  transform: rotate(50deg);
  transition: transform 0.3s;
}



.hand__button .main__hand:hover{
  transform: rotate(-30deg);
}

.hand__button button{

  width: 20rem;
  padding: 3em;
  font-size: bold;
  display: block;
  cursor: pointer;
  background: none;
  border: none;
  border-radius: 50px;
  border: 1px solid aqua;

}

.hand__button button:hover{
  background-color: rgb(47, 148, 148);
}

.handDown__container{
  display: grid;
  place-items: center;
  position: relative;

}


.handDown__container img{

  display: block;
  height: 10rem;
  cursor: pointer;
  transition: transform 0.3s;
}
