@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: aqua;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

body{
  
  height: 100vh;
  width: 100vw;
  position: relative;
  /* overflow: hidden; */
  background: #282c34;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0.5em 2em;
  font-weight: 600;
  font-size: 2rem;
}
header div{
  cursor: pointer;

}

.main {
  width: 100%;
}

.determiner{

  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5rem;
}

.determiner h1{

  margin-bottom: 2rem;
}

.loader{
  width: 100%;
  height: 100%;
  margin-top: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.loader div{
  margin-top: 1rem;
  color: rgb(214, 48, 48);
}

.hand__button{

  position: relative;
  display: grid;
  place-content: center;
  place-items: center;
  width: 20rem;
}

.main .main__hand{

  display: block;
  margin: 0 auto;
  position: absolute;
  top: 38px;
  left: 40px;
  right: 0;
  height: 15rem;
  cursor: pointer;
  transform: rotate(50deg);
  transition: all 0.3s;
}



.hand__button .main__hand:hover{
  transform: rotate(-30deg);
  top: 45px;
}

.hand__button button{

  width: 20rem;
  padding: 2rem;
  font-size: 1rem;
  display: block;
  cursor: pointer;
  background: none;
  border: none;
  border-radius: 50px;
  border: 3px solid aqua;

}

.hand__button button:hover{
  color: #282c34;
  background-color: rgb(83, 211, 211);
}

.more_details{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.top__details{
  align-items: center;
  width: 40rem;
  height: 16.5rem;
  padding: 0.5rem;
  background: #3b4049;
  border-radius: 8px;
  margin-bottom: 1rem;
  box-shadow: 0 0 4px #60656e;
}

.top__details .top__text{
  
  color: white;
  font-size: 2rem;
  font-weight: 600;
}


.handsUp__container{
  margin-top: 2rem;
}

.handsUp__container span{
  color: white;
}

.handsUp__container img{
  margin-top: -25px;
}

.hand__container{
  display: grid;
  place-items: center;
}

.hand__container img{

  display: block;
  height: 10rem;
  cursor: pointer;
  transition: transform 0.3s;
}

.more__details{

  display: grid;
  align-items: center;
  width: 40rem;
  height: 17rem;
  padding: 2rem;
  background: #3b4049;
  border-radius: 8px;

}

.details__container{
  text-align: start !important;
}


.details__container span{
  display: inline-block;
}

.details__container .more__details__title{
  text-align: start !important;

  margin-right: 10px;
  color: white;
  font-weight: 600;
}




footer{

  position: absolute;
  padding: 1rem;
  left: 0;
  right: 0;
  bottom: 0;

}




@media screen and (max-width: 892px) {

  .main {
    width: 100%;
  }

  .hand__button button{

    width: 15rem;
    padding: 1rem;
  
  }

  header {
    padding: 0.5em 0.8em;
  }

  .main .main__hand{
    top: 20px;
    height: 10rem;

  }

  .more_details{
    padding: 0;

  }

  .top__details{
    width: 100%;
    height: 13rem;
  }
  
  .top__details h1{
    font-size: 1.5rem;
  }

  .handsUp__container span{
    font-size: 0.8rem;
  }

  .handsUp__container img{
    height: 8rem;
  }

  .loader{
    margin-top: 5rem;
  }

  .more__details{
    width: 100%;
  }

  .more__details__title{
    font-size: 0.9rem;
  }

  .details__container .more__details__title{
    font-size: 0.9rem;
  }

  .top__details .top__text{
  
    font-size: 1rem;
  }
  

  
}